.vscode/
cache/

/vendor/
composer.lock
/node_modules/
/logs/*
!/logs/.gitkeep
/src/Modules/*
!/src/Modules/ModuleName/
/tmp/

# OS Related (used: https://gitignore.io/)

# Linux
.directory

# Windows
[Dd]esktop.ini

# MacOS
.DS_Store
