
# Development config
.vscode/
/tmp/
/config/

#Exclude default cache folder
cache/

# Exclude dependencies
/vendor/

# exclude logs
/logs/*
*.log

# but allow .gitkeep to keep the folder
!/logs/.gitkeep

# excludes modules
modules/*

# but allow example module
!modules/ModuleName/


# OS Related Exclusions (used: https://gitignore.io/)

# Linux
.directory

# Windows
[Dd]esktop.ini

# MacOS
.DS_Store
