{% extends "@AdminPanel/template.twig" %}

{% block styles %}
	<link rel="stylesheet" href="style.css">
{% endblock %}
{% block body %}
<div class="container">
	<div class="wrapper">
		<div class="content">
			<div class="item">
				<h1>COMING SOON</h1>
				<p>This website is under construction.</p>
		<p style="font-size: .7rem">Webpage Source: <a href="https://codepen.io/ompmega/pen/tDKCo">Ompmega</a> edited by <a href="https://delta-wings.net">Aviortheking</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
