{% extends "@AdminPanel/form/_default.twig" %}

{% set name = "select" %}

{% block content %}
	{% for choice in options.choices %}
		{% if choice == options.value %}
			<option selected>{{ choice }}</option>
		{% else %}
			<option>{{ choice }}</option>
		{% endif %}
	{% endfor %}
{% endblock %}
